.header {
	margin: 3.75rem 0;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
}
.header__content {
	display: flex;
	gap: 2.5rem;
}
.header__menu {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}
.header__menu li a{
	text-transform: capitalize;
}
.header__button {
	background-color: var(--white);
	border:solid 1px var(--dark);
	color: var(--black);
}