.hero {
	margin: 0.625rem 0;
}
.hero__container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 1 40%;
	gap: 2.1875rem;
	margin-top: 0.625rem;
}
.hero__title {
	font-size: 3.75rem;
	font-weight: 500;
	line-height: 1.2;
}
.hero__subtitle {
	font-size: 1.25rem;
	line-height: 1.4;
}
.hero__button {
}
.hero__image {
	flex: 0 1 45%;
	align-self: center;
}